__pycache__/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/__pycache__/
.DS_Store
stan/dynamic_stan_fits/
neural_dynamic_dm_fits/
trained_networks/
plots/
saved_arrays/
data/sim_data/dynamic_dm_stan_post_100_compressed.pkl
data/sim_data/static_dm_data_100.pkl
benchmarks/stan/dynamic_stan_fits/
data/offline_data/
data/offline_data_new/
data/offline_data_new_2/
data/sbc_data/
